.sbox .txt,.sbox .selt .sval,
	.rbox .e strong,.rbox .e label,.rbox .e i,
	.xbox .face .name,.xbox .face .p,.xbox .face .icons,
	.xname span,
	.ibox .e .txt,.ibox .e label,
	.pname .txt,.pbox .e,
	.abox .aname{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
/* .sbox .e.e_ta label,input[type="date"],input[type="month"],.xbox .face .icons,.abox .tab a{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
} */

/*--简历修改--*/
.sec .face{
    position:relative;
    min-height:82px;
    line-height:24px;
    padding:15px 120px 20px 22px;
}
.face .base_img{
    position:absolute;
    top:50%;right:20px;
    transform:translateY(-50%);
}
.mess .base_name{
    width:100%;
    height:24px;
    line-height:24px;
    font-size:16px;
    color:#ff7e3e;
    margin-bottom:5px;
}
.mess .base_name span{
    position:relative;
    padding-right:30px;
}
.mess .base_name span:after{
    position:absolute;
    content:"";
    width:20px;height:20px;
    right:0;top:0;background:url(../img/index/minggi/log/icons_4.png) -104px -102px no-repeat;
    background-size:135px auto}
.mess .gender{
    width:100%;
    height:24px;
    line-height:24px;
    font-size:13px;
    color:#333;
    margin-bottom:5px;
}
.mess .gender span{position:relative;float:left}
.mess .gender span:nth-child(2){padding-left:0}
.mess .base_adr,.mess .base_phone,.mess .base_state,.mess .base_bir{
    position:relative;
    height:20px;
    line-height:20px;
    font-size:13px;
    color:#333;
    margin-bottom:6px;
    padding-left:20px;
}
.mess .info_icon:before{
    position:absolute;
    width:20px;
    height:20px;
    content:"\00a0";
    top:0;left:0;
    background:url(../img/index/minggi/log/icons_4.png) 0px 0px no-repeat;
    background-size:135px auto;
}
.mess .base_bir:before{background-position:-10px -102px}
.mess .base_adr:before{background-position:-42px -102px}
.mess .base_phone:before{background-position:-72px -102px}
.base_info{padding:10px 20px 10px}
.base_info .t{
    position:relative;
    line-height:22px;
    font-size:13px;
    color:#333;
    margin-bottom:5px;
    padding-left:82px;
}
.base_info .t:last-child{margin-bottom:0}
.base_info .t label{position:absolute;color:#727272;top:0;left:0px}
.base_info .t div{max-width:100%;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.sec .job_exp{text-align:center;padding:12px 10px}
.sec .job_exp a{
    display:block;
    width:28%;
    height:30px;
    line-height:30px;
    font-size:13px;
    color:#ff7e3e;
    margin:0 auto 9px;
    border:1px solid #ff7e3e;
    border-radius:30px;
}
.sec .job_exp p{font-size:13px;color:#727272}
.jobx{position:relative;padding:12px 10px}
.jobx.bot{border-bottom:1px solid #e5e5e5}
.jobx .lbar{padding-left:8px}
.jobx .bn{position:relative;line-height:22px;;word-break:break-all;padding:0 0 10px}
.jobx .bn.on{padding:0 90px 10px 21px}
.jobx .bn .nt{position:absolute;width:120px;font-size:13px;color:#727272;text-align:right;right:0;top:0}
.jobx .bn p:nth-child(n+2){padding-right:120px;margin:7px 0px}
.jobx .bn p:nth-child(3){font-size:13px}
.jobx .amend{position:absolute;width:90px;bottom:18px;right:0px}
.jobx .amend i{
    position:relative;
    float:left;width:44px;
    height:36px;
    line-height:68px;
    color:#ff7e3e;
    text-indent:0;
    text-align:center;
}
.jobx .amend i:first-child{border-right:1px solid #e5e5e5}
.jobx .amend i:after{
    position:absolute;
    width:20px;
    height:20px;
    content:"\00a0";
    top:-4px;
    left:50%;
    margin-left:-10px;
    background:url(../img/index/minggi/log/icon2.png) -97px -165px no-repeat;
    background-size:429px auto;
}
.jobx .amend i:last-child:after{background-position:-121px -165px}
/*--简历修改END--*/


/*简历头部*/
.main.po{padding-bottom:0}
.top{
    position:relative;
    height:45px;
    line-height:45px;
    text-align:center;
    font-size:16px;
    background-color:#fff;
    z-index:2;
    box-shadow:0 0 3px 2px #ccc
}
.top .back{
    position:absolute;
    width:45px;
    height:45px;top:0;left:0;background:url(../img/index/minggi/log/arrow.png) center no-repeat;
    transform:rotate(180deg);
    background-size:10px auto;
}

/*简历列表*/
.speed{display:block;position:relative;padding:12px 15px;overflow:hidden}
.speed:after{
    position:absolute;
    width:100%;height:1px;
    content:"\00a0";bottom:0px;
    left:10px;background-color:#e5e5e5;
}
.speed.turn:before{
    position:absolute;
    width:20px;
    height:32px;
    content:'\00a0';
    top:0;right:8px;background:url(../img/index/minggi/log/icon1.png) -134px -8px no-repeat;
    background-size:342px auto
}
.speed p{position:relative;height:16px;line-height:16px;font-size:15px;color:#f87432;text-indent:6px}
.speed .edit{
    position:absolute;
    width:30px;
    height:40px;
    line-height:32px;
    color:#f66f17;
    top:0px;right:10px;
    background:url(../img/index/minggi/log/icon1.png) -124px -4px no-repeat;
    background-size:342px auto;
}
.sbox .e{
    position:relative;
    display:block;
    min-height:32px;
    line-height:32px;
    color:#444;
    padding:8px 12px 8px 95px;
    background-color:#fff;
}
.sbox .upbox.e{padding:4px 12px 4px 95px}
.sbox .must{
    position:relative;
    min-height:32px;
    line-height:32px;
    color:#333;
    padding:8px 0 8px 47px;
    background-color:#fff;
}
.sbox .must:before{
    position:absolute;
    width:24px;
    height:32px;
    content:"\00a0";
    top:8px;left:21px;
    background:url(../img/index/minggi/log/icon2.png) -42px -14px no-repeat;
    background-size:429px auto;
}
.sbox .must span{font-size:12px;color:#ff6161}
.sbox .imp .selt:after,
.ibox .selt:after,
.sbox .imp:after,
.Fm .imp:before,
.sbox a.imp:after{
    position:absolute;
    width:20px;height:32px;
    content:'\00a0';
    top:0px;top:50%;
    margin-top:-16px;
    right:11px;
    background:url(../img/index/minggi/log/icon1.png) -136px -8px no-repeat;
    background-size:342px auto;
}
.sbox a.auth:after{
    position:absolute;width:20px;
    height:18px;content:'\00a0';top:50%;
    right:6px;margin-top:-9px;
    background:url(../img/index/minggi/log/bbs_icon.png) -4px -120px no-repeat;
    background-size:130px 180px}
.sbox .e:before,.sbox .e.lb_w:after,
.sbox .must:after,.Fm .must:after,
.sec .must:after,.stit:before,
.ibox .e:before,.ibox .e.lb_w:after,
.sbox .custom.lb_w:before,
.sbox .custom:after,.pbox .e:before{
    position:absolute;
    height:0;content:'\00a0';
    font-size:0;left:10px;
    right:0px;bottom:0;
    border-bottom:1px solid #f4f4f4;
}
.ibox .e:last-child:before{display:none}
.sbox .e.pe,.sbox .e.imp{padding:8px 35px 8px 95px}
.sbox .pe .mod{
    position:absolute;height:20px;
    line-height:20px;font-size:12px;
    color:#f97432;text-align:center;
    top:14px;right:15px;padding:0 10px;
    background-color:#FFF;
    border:1px solid #f97432;z-index:2;
    border-radius:4px}
.sbox .e.eb:before{display:block}
.sbox .e.e2{padding-right:0}
.sbox .e.long{padding-left:118px}
.sbox .e.lb_w,.ibox .e.lb_w{margin-top:-1px;padding:8px 26px}
.sbox .e.lb_w:after,.ibox .e.lb_w:after,.sbox .custom.lb_w:before{top:0;border-bottom-style:dashed}
.sbox .e.e_ta{padding:0 11px 8px 11px}
.sbox .e.e_ta label{position:relative;display:block;left:11px;margin-bottom:16px}
.sbox .e.e_ta .error{line-height:30px}
.sbox .e.e_ta .error:before{height:30px}
.sbox .e.e_ini label{line-height:16px;top:8px}
.sbox .e.e_ini i{display:block;font-size:12px;color:#868686}
.sbox .e label{position:absolute;color:#727170;font-size:15px;text-align:left;left:21px;top:8px}
.sbox .e label em{position:absolute;color:#ff6000;left:-8px;top:0}
.sbox .e input[type="text"]{background-color:transparent}
.sbox .e .birth_d{
    float:left;width:90%;
    height:32px;line-height:32px;
    text-align:right;margin-top:3px;
    border:0 none;padding-right:20px;}
.sbox .e .error{line-height:20px;font-size:12px;color:#F00;text-align:right}
.sbox .e .error.m{position:relative;top:0;right:-20px}
.sbox .e .error:before{
    display:inline-block;width:15px;
    height:20px;content:'\00a0';margin-right:5px;
    background:url(../img/index/minggi/log/icon_a.png) -19px -76px no-repeat;
    background-size:40px auto}
.sbox .txt{display:block;width:100%;height:32px;line-height:32px;color:#444;text-align:right}
.sbox .sh .txt{padding-right:35px}
.sbox .sh .cm{position:absolute;top:8px;right:12px;z-index:2}
.sbox .authen{display:block;width:100%;height:32px;line-height:32px;color:#c7c7c7;text-align:right}
.sbox .ptxa{height:130px;padding:6px 11px;background-color:#f6f6f6}
.sbox .ptxa.noNum{height:110px}
.sbox .ptxa textarea{
    width:100%;height:110px;line-height:20px;
    font-size:12px;vertical-align:top;padding:0;
    background-color:transparent;border:none;}
.sbox .ptxa .gray{line-height:20px;font-size:12px;text-align:right}
.sbox .tbox{position:relative;min-height:32px;padding-right:60px}
.sbox .tbox .wy{position:absolute;top:0;right:26px}
.sbox .tbox .arr2{
    position:absolute;width:12px;height:12px;top:50%;right:11px;margin-top:-6px;
    background:url(../img/index/minggi/log/arr2.png) center no-repeat;
    background-size:12px auto}
.sbox .e.on .tbox .arr2{
    transform:rotate(180deg)}
.sbox .custom{position:relative;padding:0 11px;background-color:#fff}
.sbox .custom:after{bottom:-1px;z-index:2}
.sbox .custom.lb_w{margin-top:-1px}
.sbox .custom.lb_w:before{top:-1px}
.sbox .custom .e{padding-right:16px;background-color:#fff8ed}
.sbox .custom .e label{left:11px}
.sbox .custom .e:before{left:0;right:0}
.sbox .custom .e.e_ta{padding:0}
.sbox .custom .ptxa{border-top:1px solid #e6e6e6}
.sbox .custom .tbox{padding-right:34px}
.sbox .custom .tbox .wy{right:0}
.sbox .custom .e.e_ta .error{right:16px}
.sbox .custom .iptb{line-height:32px;text-align:right;padding:8px 15px;background-color:#fff8ed}
.sbox .custom .iptb .error{line-height:20px;font-size:12px;color:#F00;text-align:right}
.sbox .custom .iptb .error:before{
    display:inline-block;width:15px;
    height:20px;content:'\00a0';margin-right:5px;
    background:url(../img/index/minggi/log/icon_err.png) center no-repeat;
    background-size:15px}
.sbox .custom .slash{display:inline-block;padding:0 11px}
.sbox .custom .ipt .txt{background-color:transparent}
.sbox .custom .ipt{display:inline-block;width:60px;top:0}
.sbox .custom .warn{
    font-size:12px;color:#4c99ff;text-align:right;
    padding-right:16px;background-color:#ede8e1}
.sbox .custom .warn:before{
    display:inline-block;width:12px;
    height:100%;content:'\00a0';margin-right:5px;
    background:url(../img/index/minggi/log/icon_warn.png) center no-repeat;
    background-size:12px}
.sbox .rdob{text-align:right}
.sbox .rdo{position:relative;display:inline-block;height:22px;line-height:22px;padding-left:50px}
.sbox .rdo:after{
    position:absolute;width:22px;height:22px;left:20px;content:'\00a0';
    background:url(../img/index/minggi/log/icon2.png) -116px -203px no-repeat;
    background-size:429px auto
}
.sbox .rdo.on:after{background-position:-93px -203px}
.sbox .rdo.en:after{background-position:-50px 0}
.pbox .e.off{color:#868686}
.pbox .e.off:after{background-position:-50px 0}
.sbox .selt .sval,.ibox .selt .sval{display:block;text-align:right}
.sbox .selt select,.ibox .selt select,input[type="date"],input[type="month"]{
    position:absolute;width:100%;height:100%;
    overflow:visible;top:0;left:0;
    opacity:0;border:0 none;z-index:2}
input[type="date"],input[type="month"]{min-width:100%}
.sbox .rt{float:right}
.sbox .rt .selt,.sbox .rt .rdob{float:left}
.sbox .rt .rdob{position:relative;margin-right:10px;z-index:3}
.sbox .user:after{display:block;width:0;height:0;font-size:0;content:'\00a0';clear:both}
.sbox .user label{top:12px}
.sbox .user .cmax{position:absolute;width:100%;height:48px;top:0;right:0;opacity:0}
.sbox .user .cmax input[type="file"]{width:100%;height:100%;vertical-align:top}
.sbox .user .upimg{float:right;width:41px;height:40px}
.sbox .c_default,.ibox .c_default{color:#999}
.Fm .eval{padding:12px 21px;background-color:#fff}
.Fm .eval .self{
    width:100%;height:77px;line-height:18px;
    color:#333;word-break:break-all;
    resize:none;overflow-y:auto;padding:5px;
    border:1px solid #e5e5e5;
   border-radius:10px}

/*--求职意向--*/
.myFm .fe{position:relative;overflow:hidden;margin-bottom:8px;background-color:#fff}
.myFm .e{position:relative;display:block;min-height:45px;line-height:45px}
.myFm .e:after{
    position:absolute;width:100%;
    height:1px;content:' ';left:10px;
    bottom:0;background-color:#d4d4d4;z-index:5}
.myFm .e:last-child:after{display:none}


.myFm .fetitle{position:relative;height:38px;line-height:38px;text-indent:23px;border-bottom:1px solid #d4d4d4}

.myFm .fetitle:before{
    position:absolute;width:3px;height:14px;
    content:' ';left:15px;top:12px;
    background-color:#f66f17;
    border-radius:20px}

.fbut{display:block;width:100%;height:40px;line-height:40px;font-size:15px;color:#f66f17;background-color:#fff}

.fbtm{margin:20px 15px}

.skip{text-align:center}
.skip a{color:#55bbf1}

.elswitch{position:absolute;
    width:46px;height:26px;top:50%;
    right:15px;margin-top:-15px;
    background-color:#fff;border:2px solid #e1e1e1;
    border-radius:20px;
    transition: all .3s ease}
.elswitch:before{
    position:absolute;width:26px;height:26px;content:' ';top:0;left:0;background-color:#fff;
    box-shadow:0 0 2px 1px #ccc;
    transition: all .3s ease}
.elswitch.on{background-color:#f66f17;border-color:#f66f17}
.elswitch.on:before{left:20px}

.myFm .link{color:#333}
.myFm .link:before,.myFm .select:after{
    position:absolute;width:8px;height:13px;content:' ';right:15px;top:50%;margin-top:-6px;
    background:url(../img/index/minggi/log/icon_a.png) no-repeat 0 -20px;
    background-size:40px auto;
}
.myFm .linetitle,.myFm .mlinetitle,.myFm .tlinetitle{display:block;margin:0 34px 0 10px}
.myFm .mlinetitle{margin-right:120px}
.myFm .minfo{position:absolute;height:45px;overflow:hidden;top:0;right:34px;z-index:1}
.myFm .minfo i{font-style:normal}
.myFm .lnt{
    position:absolute;width:100%;height:45px;
    text-align:right;overflow:hidden;top:0;
    left:0;padding-right:35px;z-index:1;
}
.myFm .tlinetitle{margin-right:10px}

/*--base--*/
html{height:100%}
body{height:100%;font-size:14px;font-family:"Microsoft YaHei";color:#333;background-color:#f8f8f8}

/*--主要内容--*/
.main{position:relative;min-height:100%;padding-bottom:64px;background-color:#f5f5f5}
.main .sec{margin-bottom:7px;background-color:#fff}
.main .sec:last-child{margin-bottom:0}
.main footer{
    position:absolute;
    width:100%;
    line-height:16px;
    color:#969696;
    text-align:center;
    left:0;
    bottom:0px;
    padding:15px;
    z-index:1;
}
.main footer a{font-size:12px;color:#969696}
/*分页头部*/
.head .goback:after{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: 50%;
    left: 0;
    margin-top: -10px;
    background: url(../img/index/minggi/log/icon2.png) -91px -272px;
    background-size: 429px auto;
}
/*导航*/
nav{height:44px;
    line-height:44px;
    color:#f97432;
    overflow:hidden;
    padding-left:10px;
    background-color:#fff;
}
nav a{color:#999}
nav span{padding:0 8px}