.head {
    position: relative;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background: #fc9b28;
    z-index: 1;
    background: linear-gradient(90deg,#fc9b28,#f46f14);
}
.head .goback {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 0;
    left: 10px;
}
.head .goback:after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 50%;
    left: 0;
    margin-top: -10px;
    background: url(../img/index/minggi/log/icon2.png) -91px -272px;
    background-size: 429px auto;
}
.head .yd1 {
    background: url(../img/index/minggi/log/nicon.png) -288px -138px no-repeat;
    background-size: 382px auto;
}
.head .yd {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 44px;
}
nav {
    color: #f97432;
    padding-left: 10px;
    background-color: #fff;
}
.nav1 {
    height: 32px;
    line-height: 32px;
}
.at {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.search1 input[data-v-55680be6] {
    background-color: #f2f2f2;
    padding-left: 45px;
}
.search input[data-v-55680be6] {
    width: 100%;
    height: 40px;
    padding: 0;
    text-indent: 10px;
    line-height: 40px;
    padding-right: 5px;
    border: 0 none;
    font-size: 14px;
    background-color: #f0f0f0;
}
input[type=password], input[type=search], input[type=text] {
    font-size: 14px;
    font-family: Microsoft YaHei;
    color: #333;
    padding: 0;
    background: #fff;
    border: 0 none;
    border-radius: 0;
    -webkit-appearance: none;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
button, input, textarea {
    padding: 0;
    border: 0 none;
    outline: 0 none;
    -webkit-appearance: none;
}
.search1[data-v-55680be6] {
    position: relative;
    padding: 12px 10px;
    background-color: #fff;
    z-index: 1;
}
.search1 input[data-v-55680be6] {
    background-color: #f2f2f2;
    padding-left: 45px;
}
.search[data-v-55680be6] {
    line-height: 40px;
    overflow: hidden;
    margin-bottom: -5px;
}
.search1 .center[data-v-55680be6] {
    padding-right: 10px;
    background-color: #f2f2f2;
    border-radius: 30px;
}
.search .center[data-v-55680be6] {
    position: relative;
    padding: 0 75px 0 60px;
    overflow: hidden;
}
.search1 .city[data-v-55680be6] {
    padding-left: 20px;
}
.search .city[data-v-55680be6] {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 50px;
    text-align: left;
    text-indent: 6px;
    color: #777;
    padding-right: 20px;
}
.at {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.search input[data-v-55680be6] {
    width: 100%;
    height: 40px;
    padding: 0;
    text-indent: 10px;
    line-height: 40px;
    padding-right: 5px;
    border: 0 none;
    font-size: 14px;
}
.search1 .search_but1[data-v-55680be6] {
    position: absolute;
    width: 20px;
    height: 34px;
    line-height: 34px;
    top: 0;
    left: 55px;
    background: url(../img/index/minggi/log/icon1.png) -170px -4px no-repeat;
    background-size: 342px auto;
}
b, em, i {
    font-weight: 400;
    font-style: normal;
}
.search_con[data-v-55680be6] {
    position: absolute;
    width: 100%;
    top: 140px;
    left: 0;
    background-color: #fff;
    z-index: 10;
}
.search_con .hot[data-v-55680be6] {
    padding: 0 16px;
}
.search_con .title[data-v-55680be6] {
    position: relative;
    height: 44px;
    line-height: 40px;
    font-size: 13px;
    color: #9b9b9b;
    padding-left: 25px;
}
.search_con .hot .box[data-v-55680be6] {
    overflow: hidden;
}
.search_con .hot .e[data-v-55680be6] {
    color: #bfbfbf;
    margin: 0 10px 16px 0;
    border-color: #f66f17;
}
.search_con .history .e a[data-v-55680be6], .search_con .hot .e[data-v-55680be6] {
    float: left;
    max-width: 90%;
    height: 26px;
    line-height: 26px;
    color: #333;
    padding: 0 14px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 26px;
}
.at {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
a {
    text-decoration: none;
}
.filtertag.on[data-v-55680be6] {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0!important;
    border: 0 none;
    z-index: 9;
}
.filtertag[data-v-55680be6] {
    margin: 5px 0 0;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
}
.filtertag.on .tab[data-v-55680be6] {
    border-bottom: 1px solid #ededed;
}
.filtertag .tab[data-v-55680be6] {
    height: 20px;
    line-height: 20px;
    padding: 12px 0;
    text-align: center;
    background-color: #fff;
}
.tab[data-v-55680be6] {
    height: 20px;
    line-height: 20px;
    padding: 12px 0;
    text-align: center;
    background-color: #fff;
}
.filtertag .tab span[data-v-55680be6] {
    position: relative;
    float: left;
    width: 27%;
    color: #333;
    padding: 0 24px 0 2px;
    border-right: 1px solid #ededed;
}
.tab span[data-v-55680be6] {
    width: 25%;
    position: relative;
    float: left;
    color: #333;
    padding: 0 24px 0 2px;
    border-right: 1px solid #ededed;
}
.overbb[data-v-55680be6] {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.bb {
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.filtertag .tab em[data-v-55680be6] {
    display: block;
    font-size: 14px;
    font-style: normal;
}
.at {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
b, em, i {
    font-weight: 400;
    font-style: normal;
}
.myonw[data-v-55680be6] {
    margin: 5px 0 0;
    border-bottom: 1px solid #ededed;
}
.job_no[data-v-55680be6] {
    height: 200px;
    padding-top: 200px;
    font-size: 13px;
    color: #999;
    text-align: center;
    background: url(../img/index/minggi/log/icon-nojob.png) #fff no-repeat center 90px;
    -ms-background-size: 103px auto;
    background-size: 103px auto;
}
.job_list[data-v-55680be6] {
    padding: 12px 0;
    background-color: #fff;
}
.jwrap[data-v-55680be6] {
    background-color: #fff;
}
.job_list1[data-v-55680be6] {
    padding-bottom: 0;
}
.job_list[data-v-55680be6] {
    padding: 12px 0;
    background-color: #fff;
}
.job_list .e[data-v-55680be6]:first-child {
    margin-top: 0;
}
.job_list .e[data-v-55680be6] {
    position: relative;
    display: block;
    line-height: 30px;
    margin: 12px 8px 0;
    padding: 10px 0;
    background-color: #fff;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 5px hsla(0,0%,81%,.6);
}
.job_list .e .l_box[data-v-55680be6] {
    padding: 0 10px 4px;
}
.job_list1 .jx .mq[data-v-55680be6] {
    padding-right: 98px;
}
.job_list .dt strong[data-v-55680be6], .job_list .jx strong[data-v-55680be6] {
    padding-right: 148px;
}
.job_list .e aside .nspan[data-v-55680be6], .job_list .e strong[data-v-55680be6] {
    display: block;
}
.job_list .e aside[data-v-55680be6], .job_list .e strong[data-v-55680be6] {
    position: relative;
    display: block;
    line-height: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    overflow: hidden;
    padding-right: 98px;
}
.job_list1 .jx .mq span[data-v-55680be6] {
    max-width: 65%;
}
.job_list .e .dq[data-v-55680be6], .job_list .e .gs[data-v-55680be6], .job_list .e i[data-v-55680be6], .job_list .e strong span[data-v-55680be6] {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.job_list .e strong span[data-v-55680be6] {
    float: left;
    max-width: 100%;
}
.job_list1 .jx .mq .em1[data-v-55680be6], .job_list1 .jx .mq .jz[data-v-55680be6] {
    position: relative;
    float: left;
}
.job_list .jx .mq .em1[data-v-55680be6] {
    position: absolute;
    width: 30px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #f9d532;
    color: #f9d532;
    background: none;
}
.job_list .jx .mq em[data-v-55680be6] {
    width: 46px;
    height: 20px;
    line-height: 20px;
    top: 5px;
    background: url(../img/index/miggi/log/mq_icon.png) -200px -126px no-repeat;
    -ms-background-size: 310px auto;
    background-size: 310px auto;
}
.job_list .dt em[data-v-55680be6], .job_list .jx em[data-v-55680be6] {
    position: absolute;
    text-align: center;
    color: #fff;
    top: 7px;
    font-size: 12px;
    letter-spacing: 2px;
}
.job_list .jx em[data-v-55680be6] {
    float: left;
    width: 40px;
    height: 18px;
    line-height: 18px;
    margin-left: 5px;
    background-color: #ff6161;
    border-radius: 4px;
}
b, em, i {
    font-weight: 400;
    font-style: normal;
}
.job_list1 .jx .mq .em1[data-v-55680be6], .job_list1 .jx .mq .jz[data-v-55680be6] {
    position: relative;
    float: left;
}
.job_list .jx .mq .jz[data-v-55680be6] {
    position: absolute;
    width: 30px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #0686d8;
    color: #0686d8;
    background: none;
}
.job_list .jx .mq em[data-v-55680be6] {
    width: 46px;
    height: 20px;
    line-height: 20px;
    top: 5px;
    background: url(../img/index/miggi/log/mq_icon.png) -200px -126px no-repeat;
    -ms-background-size: 310px auto;
    background-size: 310px auto;
}
.job_list .dt em[data-v-55680be6], .job_list .jx em[data-v-55680be6] {
    position: absolute;
    text-align: center;
    color: #fff;
    top: 7px;
    font-size: 12px;
    letter-spacing: 2px;
}
.job_list .jx em[data-v-55680be6] {
    float: left;
    width: 40px;
    height: 18px;
    line-height: 18px;
    margin-left: 5px;
    background-color: #ff6161;
    border-radius: 4px;
}
b, em, i {
    font-weight: 400;
    font-style: normal;
}
.job_list1 .jx .mq .em1[data-v-55680be6], .job_list1 .jx .mq .jz[data-v-55680be6] {
    position: relative;
    float: left;
}
.job_list .jx .mq .jz[data-v-55680be6] {
    position: absolute;
    width: 30px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #0686d8;
    color: #0686d8;
    background: none;
}
.job_list .dt em[data-v-55680be6], .job_list .jx em[data-v-55680be6] {
    position: absolute;
    text-align: center;
    color: #fff;
    top: 7px;
    font-size: 12px;
    letter-spacing: 2px;
}
.job_list .e .m_num[data-v-55680be6] {
    top: 7%;
    color: #f97432!important;
}
.job_list .e .dq[data-v-55680be6], .job_list .e .gs[data-v-55680be6], .job_list .e i[data-v-55680be6], .job_list .e strong span[data-v-55680be6] {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.job_list .e i[data-v-55680be6] {
    font-size: 16px;
    text-align: right;
}
.job_list .e .time[data-v-55680be6], .job_list .e i[data-v-55680be6] {
    position: absolute;
    width: 98px;
    font-style: normal;
    top: 13%;
    right: 10px;
}
.c_light {
    color: #f66f17!important;
}
.job_list .e .but.b_gray[data-v-55680be6] {
    background: #ddd;
}
.job_list .e .but1[data-v-55680be6] {
    top: 63px;
}
.job_list .e .but[data-v-55680be6] {
    position: absolute;
    width: 65px;
    font-size: 13px;
    font-style: normal;
    top: 71px;
    right: 10px;
    padding: 0;
    z-index: 2;
    border: none;
    background: linear-gradient(90deg,#f99727 0,#f27416);
    border-radius: 30px;
}
.but.b_gray {
    color: #999;
    background-color: #ddd;
    border-color: #ddd;
}
.but {
    width: 100%;
    height: 28px;
    line-height: 28px;
    font-size: 15px;
    letter-spacing: 3px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}
button, input, textarea {
    padding: 0;
    border: 0 none;
    outline: 0 none;
    -webkit-appearance: none;
}
.job_list .e .but1[data-v-55680be6] {
    top: 63px;
}
.job_list .e .but[data-v-55680be6] {
    position: absolute;
    width: 65px;
    font-size: 13px;
    font-style: normal;
    top: 71px;
    right: 10px;
    padding: 0;
    z-index: 2;
    border: none;
    background: linear-gradient(90deg,#f99727 0,#f27416);
    border-radius: 30px;
}
.but.b_light {
    color: #fff;
    background-color: #f66f17;
    border-color: #f66f17;
}
.but {
    width: 100%;
    height: 28px;
    line-height: 28px;
    font-size: 15px;
    letter-spacing: 3px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}
button, input, textarea {
    padding: 0;
    border: 0 none;
    outline: 0 none;
    -webkit-appearance: none;
}
.job_list .e .add_area[data-v-55680be6] {
    max-height: 60px;
}
.job_list .e aside[data-v-55680be6] {
    line-height: 26px;
    font-size: 14px;
    padding-right: 85px;
}
.job_list .e aside[data-v-55680be6], .job_list .e strong[data-v-55680be6] {
    position: relative;
    display: block;
    line-height: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    overflow: hidden;
    padding-right: 98px;
}
.job_list .e .dq[data-v-55680be6], .job_list .e .gs[data-v-55680be6], .job_list .e i[data-v-55680be6], .job_list .e strong span[data-v-55680be6] {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.job_list .e .gs1[data-v-55680be6] {
    max-width: 100%;
}
.job_list .e .gs[data-v-55680be6] {
    max-width: 100%;
    color: #777;
}
.job_list .e .dq[data-v-55680be6], .job_list .e .gs[data-v-55680be6] {
    display: block;
    max-width: 100%;
}
.job_list .e aside br[data-v-55680be6] {
    display: none;
}
.job_list .e .dq[data-v-55680be6], .job_list .e .gs[data-v-55680be6], .job_list .e i[data-v-55680be6], .job_list .e strong span[data-v-55680be6] {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.job_list .e .dq[data-v-55680be6] {
    color: #999;
}
.job_list .e .dq[data-v-55680be6], .job_list .e .gs[data-v-55680be6] {
    display: block;
    max-width: 100%;
}
.job_list .tag[data-v-55680be6] {
    overflow: hidden;
    padding-right: 75px;
}
.job_list .tag1 span[data-v-55680be6], .job_list .tag span[data-v-55680be6] {
    float: left;
    height: 22px;
    line-height: 22px;
    padding: 0 8px;
    font-size: 13px;
    color: #666;
    text-align: center;
    white-space: nowrap;
    background-color: #f5f6f8;
}
.job_list .tag span[data-v-55680be6] {
    margin: 8px 5px 0 0;
    border: 1px solid #f5f6f8;
    border-radius: 5px;
}

