/*--职位详情--*/
nav{border-bottom:0 none}
.hide{display:none}
.xq{line-height:20px;color:#333;background-color:#f5f5f5}
.wbox{line-height:22px;padding:10px;background-color:#FFF}
.wbox.apply{padding:10px 26px}
.underline{position:relative;overflow:hidden}
.underline:after{position:absolute;width:100%;height:1px;content:"\00a0";bottom:8px;left:10px;background-color:#e5e5e5}
.underline1:after{left:0}
.wbox .ltle,.pbox .ltle{font-size:16px;font-weight:normal;word-break:break-all;color:#000}
.wbox .tent{height:26px;margin-bottom:-10px}
.wbox .tent, .wbox .tact, .wbox button{margin-top:10px}
.wbox .tent strong{float:left;width:50%;font-size:16px;font-weight:normal;color:#f64b17;padding-right:8px}
.wbox .tent .r{float:right;width:50%;font-size:12px;color:#ccc;text-align:right;padding-right:10px}
.wbox .workarea{position:relative;padding:10px 0 10px}
.wbox .workarea a{position:absolute;font-size:15px;color:#f66f17;right:0}
.pbox{background-color:#fff}
.pbox .e{display:block;position:relative;line-height:24px;color:#333;padding:10px}
.pbox.p3 .e{margin-bottom:10px;padding:0 10px 0 74px}
.pbox.p3 .e1{padding-left:10px}
.pbox.p3 .e:last-child{margin-bottom:0}
.pbox.p3 .ask{position:relative;font-size:14px;color:#666;padding-right:120px}
.pbox.p3 .ask .time{position:absolute;width:110px;right:0;top:0}
.pbox.p3 .tag{overflow:hidden;border-bottom:1px solid #ededed}
.pbox.p3 .tag span{float:left;height:22px;line-height:22px;padding:0 8px;font-size:12px;color:#666;text-align:center;white-space:nowrap;margin:0 5px 8px 0;background-color:#f5f6f8;
    -webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;border-radius:5px}
.pbox.p3 .tag1 span{float:left;height:22px;line-height:22px;padding:0 8px;font-size:12px;color:#f66f17;text-align:center;white-space:nowrap;margin:0 5px 8px 0;border:1px solid #f66f17}
.pbox.p3 .e label,.pbox a.loca label{position:absolute;font-size:13px;color:#999;top:0;left:10px}
.pbox.p3 .e .welfare{top:-4px}
.pbox.p4{padding:10px 10px 0}
.pbox a.e{padding-right:24px}
.pbox a.loca{display:block;position:relative;line-height:24px;color:#333;padding:0 10px 0 74px;margin-bottom:10px}
.pbox a.loca .adr{font-size:13px;padding-right:24px}
.pbox a.e:after{position:absolute;width:25px;height:25px;content:"\00a0";right:0;top:50%;margin-top:-13px}
.pbox a.e:after,.pbox.p2 .e.area i:after {background:url(//img01.51jobcdn.com/im/mobile/miduoduo/icon_a.png) no-repeat 9px -14px;
    -webkit-background-size:40px auto;-moz-background-size:40px auto;-o-background-size:40px auto;-ms-background-size:40px auto;background-size:40px auto}
.pbox a.g_m:after{width:15px;right:5px;background:url(//img01.51jobcdn.com/im/mobile/miduoduo/nicon.png) -231px -145px no-repeat;
    -webkit-background-size:382px auto;-moz-background-size:382px auto;-o-background-size:382px auto;-ms-background-size:382px auto;background-size:382px auto}
.pbox a.loca:after{position:absolute;width:25px;height:25px;content:"\00a0";right:10px;top:50%;margin-top:-13px;background:url('//img01.51jobcdn.com/im/mobile/miduoduo/icon1.png') -285px -12px no-repeat;
    -webkit-background-size:342px auto;-moz-background-size:342px auto;-o-background-size:342px auto;-ms-background-size:342px auto;background-size:342px auto}
.pbox a.tjob{font-size:16px;color:#666}
.pbox .rule{position:relative;height:26px;line-height:26px;font-size:12px;color:#ccc;padding-left:32px}
.pbox .rule:before{position:absolute;width:25px;height:25px;content:'';top:0;left:10px;background:url(//img01.51jobcdn.com/im/mobile/miduoduo/icon-d.png) 0px 5px no-repeat;
    -webkit-background-size:20px auto;-moz-background-size:20px auto;-o-background-size:20px auto;-ms-background-size:20px auto;background-size:20px auto}
.pbox .rule a{color:#c94f00;text-decoration:underline;margin-left:6px}
.pbox a.g_m{font-size:14px}
.wbox .btn{width:100%;height:38px;line-height:38px;font-size:15px;color:#fff;letter-spacing:4px;background-color:#f66f17;border:1px solid #f66f17;
    -webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;border-radius:5px}
.wbox .btn.b_gray{color:#999;background-color:#ddd;border-color:#ddd}
.wbox.w2{padding:0 10px;position:relative}
.wbox .pbox{margin-left:-10px;margin-right:-10px}
.wbox .fcolor{font-size:13px;color:#ccc}
.wbox .tact{position:relative;font-size:13px;color:#333;padding-right:110px;padding-bottom:8px}
.wbox .tact .contact{color:#999}
.wbox .tact label{position:absolute;font-size:13px;color:#0686d8;top:0;right:0}
.wbox .tact i{font-style:normal}
.wbox .tact i:first-child{margin-right:6px}
.wbox .tact i:last-child{margin-left:6px}
.wbox img{position:absolute;;width:50px;height:50px;top:0;right:0;
    border-radius:6px}
.wbox .mq_logo{width:40px;height:40px;right:0;top:0}
.wbox .cominfo{height:40px;line-height:40px;font-size:14px;color:#666}
.wbox .ctitle{font-size:16px;color:#333}
.wbox .ctitle .e{display:block;color:#333}
.m_t8, .pbox.p2, #nl {margin-top:8px}
.wa1{margin-top:8px;padding:0 10px}
.pbox.p2 .e{padding-left:32px}
.pbox.p2 .e.e7 {padding-left:10px}
.pbox.p2 a.e{border-bottom:0 none}
.pbox.p2 .e.e1 {margin-top:-8px}
.pbox.p2 .e.area{position:relative;padding-right:96px;border-bottom:1px solid #e1e1e1}
.wbox .pbox.linet,.pbox.p2 .line1{position:relative;overflow:hidden}
.linet:before{display:block;position:absolute;width:100%;height:1px;content:"\00a0";top:0px;left:10px;background-color:#e5e5e5}
.linet1:before{left:0}
.pbox.p2 .line1:after{position:absolute;width:100%;height:1px;content:"\00a0";bottom:0px;left:16px;background-color:#e5e5e5}
.wbox .pbox.p2{margin-top:18px}
.pbox.p2 .e:before{position:absolute;width:20px;height:20px;content:"\00a0";left:10px;top:50%;margin-top:-10px;background:url(//img01.51jobcdn.com/im/mobile/miduoduo/icon_t.png) -3px 0;
    -webkit-background-size:20px auto;-moz-background-size:20px auto;-o-background-size:20px auto;-ms-background-size:20px auto;background-size:20px auto}
.pbox.p2 .e.e7:before{display:none}
.pbox.p2 .e.e2:before{background-position:-3px -19px}
.pbox.p2 .e.area:before{display:none}
.pbox.p2 .e.area i{position:absolute;width:76px;font-style:normal;color:#777;top:10px;right:10px}
.pbox.p2.fixed .e i{color:#f66f17}
.pbox.p2 .e.area i:after{position:absolute;width:20px;height:20px;content:"\00a0";right:-3px;top:-1px;
    -webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-o-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}
.pbox.p2.fixed .e i:after{background-position:-145px -41px}
.pbox.p2 .djob{padding-left:10px;font-size:16px;color:#f87432}
.pbox.p2 .djob:before{display:none}
.record .e.e3{font-size:15px;color:#f87432;padding-left:16px}
.record .e.e3:before{display:none}
.record .e.e3 .different{float:right;color:#999}
.wbox .word{line-height:26px;word-break:break-word}
.aox{position:relative;overflow:hidden}
.aox.mk{padding-bottom:24px}
.aox article{line-height:24px;color:#333;word-break:break-all}
.aox1 article{color:#666}
.aox.mk article{max-height:260px;overflow:hidden}
.aox.on, .aox.on article{max-height:none}
.aox.on .art_more{margin:0 0 10px}
.aox.on .art_more span{display: none}
.aox.on .art_more p{display:none}
.aox .art_more{position:relative;text-align:center;margin-top:-32px}
.aox .art_more p{height:31px;
    background:-webkit-linear-gradient(top, rgba(255,255,255,0), #fff);
    background:linear-gradient(to bottom,rgba(255,255,255,0), #fff)}
.aox .art_more span{display:inline-block;width:20px;height:28px;background:url(//img01.51jobcdn.com/im/mobile/miduoduo/icons_4.png) -46px -65px no-repeat;
    -webkit-background-size:135px auto;background-size:135px auto}
.aox .icin{position:relative;display:inline-block;padding-right:10px}
.aox .icin:after{position:absolute;width:16px;height:15px;content:"\00a0";top:6px;right:-10px;background:url(//img01.51jobcdn.com/im/mobile/miduoduo/icon_a.png) no-repeat 2px 4px;
    -webkit-background-size:40px auto;-moz-background-size:40px auto;-o-background-size:40px auto;-ms-background-size:40px auto;background-size:40px auto}
.aox.on .icin:after{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}
.wbox .txt{font-size:12px;text-align:center;color:#000}
.wbox .img_code{text-align:center;padding:10px 0}
.p_mind{position:relative;font-size:12px;color:#666;padding:10px 78px 10px 10px;background-color:#fff}
.p_mind1{padding-right:90px;text-align:justify}
.p_mind a{position:absolute;width:50px;height:24px;line-height:24px;font-size:12px;color:#f96f4f;text-align:center;top:50%;right:10px;margin-top:-13px;border:1px solid #f96f4f;
    -webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;border-radius:5px}
.p_mind .alert{width:70px;height:90px;margin-top:0;border:none;border-left:1px solid #e5e5e5;
    -webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-o-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);
    -webkit-border-radius:0px;-moz-border-radius:0px;-o-border-radius:0px;-ms-border-radius:0px;border-radius:0px}
.no_re {height:60px;padding:160px 50px 30px;color:#999;font-size:13px;text-align:center;background:url(//img01.51jobcdn.com/im/mobile/miduoduo/no_re.png) #fff no-repeat center 70px;
    -webkit-background-size:67px auto;-moz-background-size:67px auto;-o-background-size:67px auto;-ms-background-size:67px auto;background-size:67px auto}
.lop{position:fixed;width:100%;color:#fff;left:0;bottom:0;border-top:1px solid #ededed;z-index:8}
.lop .l_re{padding:4px 15px 0 0px;background-color:#fff}
.lop .l_re span{position:relative;display:inline-block;float:left;width:20%;height:40px;font-size:12px;color:#666;text-align:center;margin:10px 0}
.lop .l_re span:after{position:absolute;width:25px;height:25px;content:"\00a0";top:-5px;left:50%;margin-left:-13px;background:url(//img01.51jobcdn.com/im/mobile/miduoduo/icon_apply_4.png) -5px -6px no-repeat;
    -webkit-background-size:70px auto;-moz-background-size:70px auto;-o-background-size:70px auto;-ms-background-size:70px auto;background-size:70px auto}
.lop .l_re .j_phone:before{position:absolute;width:1px;height:20px;content:"";top:50%;left:0;margin-top:-10px;background:#d4d4d4}
.lop .l_re .j_phone:after{background-position:-42px -6px}
.lop .l_re .s2:after{background-position:center -62px}
.lop .l_re .s1.on:after{background-position:center -38px}
.lop .l_re .but{width:60%;height:35px;line-height:35px;color:#fff;border:0 none;border-radius:0;
    background:-webkit-linear-gradient(left, #f99727, #f97532);
    background:linear-gradient(to right, #f99727, #f97532);
    -webkit-border-radius:20px;border-radius:20px}

.lop .l_re .b_gray {
    color:#fff;
    background:-webkit-linear-gradient(left,#dcdcdc,#dcdcdc);
    background:-moz-linear-gradient(right,#dcdcdc,#dcdcdc);
    background:-o-linear-gradient(right,#dcdcdc,#dcdcdc);
    background:linear-gradient(to right,#dcdcdc,#dcdcdc)}
.lop .l_re.no button{width:80%}
.job_list .detail_more{padding:16px 36px;background-color:#fff}
.job_list .dm1{text-align:center}
.job_list .detail_more button{display:inline-block;width:40%;height:30px;line-height:30px;font-size:15px;text-align:center;border:0 none}
.job_list .detail_more .dm{float:left;color:#f97432;background-color:#fef1ea}
.job_list .detail_more .dy{float:right;color:#fff;background-color:#f97432}
.job_list .detail_more .lmore{position:relative;font-size:15px;color:#666;display:inline-block;margin:0 auto;padding-right:20px}
.job_list .detail_more .lmore:after{position:absolute;content:"";width:15px;height:25px;right:0px;top:-3px;background:url(//img01.51jobcdn.com/im/mobile/miduoduo/nicon.png) -231px -145px no-repeat;
    -webkit-background-size:382px auto;-moz-background-size:382px auto;-o-background-size:382px auto;-ms-background-size:382px auto;background-size:382px auto}
.job_list1 .l_box .tag1{overflow:hidden;margin:4px 0 -8px;padding-right:85px}
.an_area{position:fixed;bottom:65px;right:0;width:60%;height:135px;z-index:15}
.an_area .an_pic{position:absolute;left:50%;width:130px;height:118px;background:url(//img01.51jobcdn.com/im/mobile/miduoduo/animate_img.png) center center no-repeat;
    -webkit-background-size:130px auto;background-size:130px auto;
    -webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%);
    -webkit-animation:move 3s infinite;-moz-animation:move 3s infinite;-ms-animation:move 3s infinite;-o-animation:move 3s infinite;animation:move 3s infinite}
.an_area .an_del{position:absolute;width:30px;height:30px;top:5px;right:12%;z-index:10;background:url(//img01.51jobcdn.com/im/mobile/miduoduo/an-del.png) center center no-repeat;
    -webkit-background-size:30px auto;background-size:20px auto}
@keyframes move{
    0%{top:10px}50%{top:20px}100%{top:10px}
}
@-moz-keyframes move{
    0%{top:10px}50%{top:20px}100%{top:10px}
}
@-webkit-keyframes move{
    0%{top:10px}50%{top:20px}100%{top:10px}
}
@-o-keyframes move{
    0%{top:10px}50%{top:20px}100%{top:10px}
}

.pinfo{padding:0 16px 15px;background-color:#fff}
.pinfo .pin{overflow:hidden;
    -webkit-border-radius:10px;border-radius:10px;
    -webkit-box-shadow:0 0 5px rgba(0,0,0,.1);box-shadow:0 0 5px rgba(0,0,0,.1)}
.pinfo .jname{position:relative;padding-right:65px}

.gza{font-size:13px;padding:16px 8px}
.gza .gzin{position:relative;padding-right:118px;}
.gza a{color:#666}
.gza .g1_m{position:relative;display:block;padding-left:20px}
.gza .g1_m:after{position:absolute;content:"";width:15px;height:15px;left:0;top:3px;background:url(//img01.51jobcdn.com/im/mobile/miduoduo/icons_4.png) -12px -70px no-repeat;-webkit-background-size:135px auto;background-size:135px auto}
.gza a .gz2{font-size:13px;color:#808080;margin-top:8px}
.gza .ad{position:absolute;width:110px;color:#f97432;right:0px;top:0px}

/*--职位详情END--*/

/*--名企详情--*/
.po{padding-bottom:0}
.mq_bg{position:relative}
.mq_bg img{width:100%}
.mq_bg .mes{position:absolute;width:100%;left:0;bottom:0;padding:50px 0 18px}
.mq_bg .house_icon{width:75px;height:75px;margin:0 auto}
.mq_bg .house_icon img{border:0 none;
    -webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;-ms-border-radius:50%;border-radius:50%}
.mq_bg .company_mq{font-size:13px;color:#fff;text-align:center;word-break:break-all;bottom:18px;padding:8px 7px 0}
.mq_bg .com{display:-webkit-box;display:-moz-box;max-height:42px;font-size:15px;font-weight:bold;color:#fff;text-overflow:ellipsis;word-break:break-all;-webkit-box-orient:vertical;-webkit-line-clamp:2;margin-bottom:5px;overflow:hidden}
.mq_des{padding:7px 7px 20px}
.mq_des .general{position:relative;padding:5px 15px 30px;background-color:#fff;border:1px solid #f0f0f0;
    -webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;border-radius:5px}
.mq_des .mq_title{position:relative;height:35px;line-height:35px;font-size:15px;margin-bottom:8px;padding-left:34px}
.mq_des .mq_title:before{position:absolute;width:20px;height:20px;content:'\00a0';top:50%;left:6px;margin-top:-10px;background:url(//img01.51jobcdn.com/im/mobile/miduoduo/mq_icon.png) -125px -21px no-repeat;
    -webkit-background-size:278px auto;-moz-background-size:278px auto;-o-background-size:278px auto;-ms-background-size:278px auto;background-size:278px auto}
.mq_des .mq_icon1:before{background-position:-125px -51px}
.mq_des .mq_title:after,.mq_des .regoin:after{position:absolute;height:1px;content:'\00a0';left:6px;right:0;bottom:0;background-color:#dbdbdb}
.mq_des .mq_intro{max-height:80px;line-height:20px;font-size:12px;word-break:break-all;overflow:hidden}
.mq_des .cho{margin-top:7px;padding:5px 15px 6px;background-color:#fff;border:1px solid #f0f0f0;border-bottom:0 none;
    -webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;-o-border-radius:5px 5px 0 0;-ms-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0}
.mq_des .list li,.mq_des .apply li{float:left;width:50%;height:25px}
.mq_des .list li:first-child,.mq_des .apply li:first-child{border-right:1px solid #dbdbdb}
.mq_des .list li{position:relative}
.mq_des .list .area{position:absolute;max-width:70%;height:25px;line-height:25px;font-size:15px;text-align:center;left:50%;padding-right:20px;
    -webkit-transform:translate(-50%,0);-moz-transform:translate(-50%,0);-o-transform:translate(-50%,0);-ms-transform:translate(-50%,0);transform:translate(-50%,0)}
.mq_des .list .area:after{position:absolute;width:20px;height:16px;content:'\00a0';top:50%;margin-top:-10px;right:0px;background:url(//img01.51jobcdn.com/im/mobile/miduoduo/mq_icon.png) -123px -158px no-repeat;
    -webkit-background-size:278px auto;-moz-background-size:278px auto;-o-background-size:278px auto;-ms-background-size:278px auto;background-size:278px auto}
.mq_des .mq_detail{margin-top:7px;padding:9px 10px 10px;background-color:#fff;border-left:1px solid #f0f0f0;border-right:1px solid #f0f0f0}
.mq_des .mq_detail:last-child{border:1px solid #f0f0f0;border-top:0 none;
    -webkit-border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;-o-border-radius:0 0 5px 5px;-ms-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px}
.mq_des .none_job{font-size:12px;color:#999;text-align:center;padding:60px 0}
.mq_des .mq_img{position:relative}
.mq_des .mq_img img{width:100%;padding:0;margin:0}
.mq_des .jobs{position:absolute;left:0;right:0;bottom:0;padding:10px;background-color:rgba(0,0,0,0.8)}
.mq_des .job_name{display:block;position:relative;padding:0 0 5px 0}
.mq_des .job_name font,.mq_des .job_name em{font-size:15px;color:#fff;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.mq_des .job_name font{float:left;max-width:65%;font-weight:bold}
.mq_des .job_name em{float:right;width:35%;color:#ff6646;text-align:right}
.mq_des .job_tag{font-size:12px;color:#fff;word-break:break-all}
.mq_des .mq_tag{padding:7px 0 12px}
.mq_des .mq_tag span{float:left;height:22px;line-height:22px;font-size:12px;color:#0686d8;text-align:center;margin-right:5px;padding:0 6px;background-color:#eefaff}
.mq_des .ms{max-height:50px;font-size:12px;word-break:break-all;overflow:hidden}
.mq_des .all_intro{height:auto;font-size:12px;word-break:break-all}
.mq_des .regoin{position:relative;font-size:12px;margin-bottom:8px;padding:0px 0 17px 22px}
.mq_des .regoin p{display:-webkit-box;display:-moz-box;max-height:32px;font-size:12px;color:#848484;text-overflow:ellipsis;word-break:break-all;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden}
.mq_des .regoin:before{position:absolute;width:20px;height:30px;content:'\00a0';top:-7px;left:0px;background:url(//img01.51jobcdn.com/im/mobile/miduoduo/mq_icon.png) -125px -74px no-repeat;
    -webkit-background-size:278px auto;-moz-background-size:278px auto;-o-background-size:278px auto;-ms-background-size:278px auto;background-size:278px auto}
.mq_des .apply .state{display:block;position:relative;width:60px;height:25px;line-height:25px;font-size:15px;color:#3f3f3f;white-space:nowrap;margin:0 auto;padding-left:30px}
.mq_des .apply .on .state{color:#848484}
.mq_des .apply .state:before{position:absolute;width:30px;height:30px;content:'\00a0';top:0px;left:0px;background:url(//img01.51jobcdn.com/im/mobile/miduoduo/mq_icon.png) -181px -22px no-repeat;
    -webkit-background-size:278px auto;-moz-background-size:278px auto;-o-background-size:278px auto;-ms-background-size:278px auto;background-size:278px auto}
.mq_des .apply .s1{color:#f57432}
.mq_des .apply .s1:before{background-position:-234px -24px}
.mq_des .apply .on .state:before{background-position:-181px -58px}
.mq_des .apply .on .s1:before{background-position:-234px -60px}
.mq_des .ishow{position:relative;height:30px}
.mq_des .general .mqmore,.mq_des .ishow .mqmore{display:none;position:absolute;font-size:12px;color:#868686;bottom:10px;right:15px;padding-right:16px}
.mq_des .ishow .mqmore{right:5px;bottom:6px}
.mq_des .general .mqmore:after,.mq_des .ishow .mqmore:after{position:absolute;width:14px;height:14px;content:'\00a0';top:1px;right:0px;background:url(//img01.51jobcdn.com/im/mobile/miduoduo/mq_icon.png) -128px -113px no-repeat;
    -webkit-background-size:278px auto;-moz-background-size:278px auto;-o-background-size:278px auto;-ms-background-size:278px auto;background-size:278px auto}
.mq_des .general em.pack:after,.mq_des .ishow em.pack:after{background-position:-128px -139px}
/*--名企详情END--*/

/*地区选择*/

.pbox.p2.fixed .loca{padding:7px 0;border-bottom:1px solid #e6e6e6}
.pbox.p2.fixed .loca li{position:relative;float:left;width:50%;height:27px}
.pbox.p2.fixed .loca li:first-child{border-right:1px solid #dbdbdb}
.pbox.p2.fixed .area_c{position:absolute;max-width:70%;height:25px;line-height:25px;font-size:15px;text-align:center;left:50%;padding-right:20px;
    -webkit-transform:translate(-50%,0);-moz-transform:translate(-50%,0);-o-transform:translate(-50%,0);-ms-transform:translate(-50%,0);transform:translate(-50%,0)}
.pbox.p2.fixed .area_c:after{position:absolute;width:20px;height:16px;content:'\00a0';top:50%;margin-top:-10px;right:0px;background:url(//img01.51jobcdn.com/im/mobile/miduoduo/mq_icon.png) -123px -158px no-repeat;
    -webkit-background-size:278px auto;-moz-background-size:278px auto;-o-background-size:278px auto;-ms-background-size:278px auto;background-size:278px auto}
.pbox.p2.fixed .on .area:after{background-position:-125px -163px;
    -webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}
.pbox.p2.fixed{position:fixed;width:100%;top:0;left:0;margin-top:0;z-index:9;
    -webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
.pbox.p2.fixed #rollAss .cked{color:#e97432;border-bottom:1px solid #ef9765}
.pbox.p2.fixed #rollAss .cked:after{display:none}
