/*全局样式*/
html,body,p,form,ul,h1,h2,h3,h4,h5,h6{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:14px}
/* table{border-collapse:collapse;border-spacing:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
} */
th,td{padding:0}
a{text-decoration:none}
em,i,b{font-weight:normal;font-style:normal}
li{list-style:none}
img{border:0}
input[type="text"],
input[type="search"],
input[type="password"]{
	font-size:14px;
	font-family:"Microsoft YaHei";
	color:#333;padding:0;
	background:#fff;
	border:0 none;
	border-radius:0;
	box-sizing:border-box;
}
input[type="button"],input[type="submit"]{
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
input,textarea,button{
	padding:0;
	border:0 none;
	outline:0 none;
	-webkit-appearance:none;
}
textarea{font-size:14px;font-family:"Microsoft YaHei";color:#333}
::-webkit-input-placeholder{color:#999}
:-moz-placeholder{color:#999}
::-moz-placeholder{color:#999}
:-ms-input-placeholder{color:#999}
html{height:100%}
body{
	position:relative;
	font-size:14px;
	font-family:"Microsoft YaHei";
	color:#333;
	background-color:#f8f8f8;
}
.at{
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.clearbox:after{
	display:block;height:0;
	content:' ';overflow:hidden;
	clear:both;
}

/*颜色*/
.c_default{color:#999 !important}
.c_light{color:#f66f17 !important}
.c_light_off{color:#f99a5c !important}
.c_gray{color:#777 !important}
.c_blue{color:#55bbf1 !important}

/*按钮*/


/*阴影*/
#shadow{
	position:fixed;
	width:100%;
	height:100%;
	opacity:0.5;
	top:0;
	left:0;
	background-color:#000;
	z-index:9;
}

/*头部*/
/*  */
/*--主要内容--*/
/*  */
/*分页头部*/
/*  */
/*导航*/
nav{
	height:44px;
	line-height:44px;
	 color:#32f9f9; 
	
	overflow:hidden;
	padding-left:10px;
	background-color:#fff;
}
nav a{color:#999}
nav span{color:#777;padding:0 8px}
.nav1{height:32px;line-height:32px}

/* 服务号头部 */
/*  */
/*底部浮动快速导航*/
.btmtab{
	position:fixed;
	width:100%;
	height:63px;
	left:0;
	bottom:0;
	background-color:#fff;
	border-top:1px solid #d4d4d4;
	z-index:8;
}
.btmtab a{
	float:left;
	width:20%;
	height:63px;
	font-size:12px;
	color:#777;
	text-align:center;
}
.btmtab a:before{
	display:block;
	width:30px;
	height:30px;
	content:' ';
	margin:8px auto 3px;
	background:url(//img01.51jobcdn.com/im/mobile/miduoduo/icon1.png) no-repeat;
	background-size:342px auto;
}
.btmtab .i1:before{background-position:-11px -169px}
.btmtab .i2:before{background-position:-58px -169px}
.btmtab .i3:before{background-position:-106px -169px}
.btmtab .i4:before{background-position:-153px -169px}
.btmtab .i5:before{background-position:-200px -169px}
.btmtab .on{color:#f66f17}
.btmtab .i1.on:before{background-position:-11px -221px}
.btmtab .i2.on:before{background-position:-58px -221px}
.btmtab .i3.on:before{background-position:-106px -221px}
.btmtab .i4.on:before{background-position:-153px -221px}
.btmtab .i5.on:before{background-position:-200px -221px}
.btmtab .i5:before{
	background-image:url(//img01.51jobcdn.com/im/mobile/miduoduo/home_tab_5_4.png);
	background-position:0px -5px;
	-webkit-background-size:65px auto;
	background-size:65px auto;
}
.btmtab .i5.on:before{background-position:-35px -5px}
/*间隙*/
